extend layout

block login

block content
  section
    h1 reset your password

    if error
      p.errors= error

    form(method='post', action='/password/forgot')
      h2 enter your email
      input(type='email', name='email')
      input(type='hidden', name='crumb', value='#{crumb}')
      button(type='submit') send

block footer