extend layout

block content
  section
    h1 create a new password
    form(method='post', action='/password/reset')
      h2 enter your new password
      input(type='password', name='password1', required)
      h2 enter your new password again
      input(type='password', name='password2', required)
      input(type='hidden', name='resetUID', value='#{resetUID}')
      input(type='hidden', name='email', value='#{email}')
      input(type='hidden', name='crumb', value='#{crumb}')
      button(type='submit') send
    if error
      p.errors= error

block footer